@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    font-family: Verdana, sans-serif;
    height: 100%;
    background-color: rgb(177, 177, 177);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    caret-color: transparent;
}