.roundpic{
    height:80pt;
    width:80pt;
}
.table-cell{
    display:table-cell
}

:host::ng-deep svg {
    vertical-align: top !important;
}

a:hover,
button:hover {
    background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
  }